<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    @Styles.Render("~/Content/css")

</head>
<body>
  
    @RenderBody()
    <script src="~/Scripts/form-validation/jquery.min.js"></script>
    <!--Google maps API linl-->
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCsbzuJDUEOoq-jS1HO-LUXW4qo0gW9FNs"></script>
    <script src="~/Scripts/user-js/bootstrap.min.js"></script>
    <script src="~/Scripts/user-js/map_index.js"></script>
    <script src="~/Scripts/user-js/infobox.js"></script>
    

</body>
</html>
